/* /* ul {
  list-style-type: none;
  background-color: ;
  padding: 20px;
  margin-right: 100px;
} */

/* body {
  margin: auto;
  max-width: max-content;
  background-color: black;
}

li {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-right: 100px;
  padding: 20px;
  text-align: center;
  font-size: 40px;
  margin-left: 35px;
  font-family: monospace;
  border: 10px solid gray;
  border-radius: 50%;
}

h1 {
  color: white;
  margin-left: 95px;
  font-size: 100px;
  margin-bottom: 20px;
}

li:hover {
  background-color: black;
  color: white;
  list-style-type: none;
}

ul {
  border: 20px yellow;
} */ */
